.example-spacer {
  flex: 1 1 auto;
}
.title{
  z-index:2;
  position: relative;
}
.toolbar{
  position: sticky;
  z-index: 2;
  top: 0;
}
.logo {
  display: flex;
  margin-right: 10px;
  border-radius: 25px;
}
.whatsApp,
.email {
  margin-left: 1rem;
}
.menu {
  color: aliceblue;
  //
  .list-menu {
    font-size: 20px;
  }
}
.menu :hover {
  color: #09cddb;
}
