<h2 class="precios">Planes</h2>
<div class="container">
  <ng-container *ngFor="let item of products$ |async ">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{item?.name}}</mat-card-title>
        <mat-card-subtitle>Pymes </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="">
      <p>
        {{item?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button>Ver mas</button>
      <span class="example-spacer"></span>
      <button mat-flat-button color="primary" (click)="comprar(item)">
        <mat-icon>add_shopping_cart</mat-icon>
        Comprar
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    </mat-card-footer>
  </mat-card>
</ng-container>
</div>

<!--Parallax-->
<div class="parallax">
  <p class="">Tu Web Profesional</p>
</div>
<!--fin Parallax-->

<div class="container">
  <form class="form item" [formGroup]="contacFrm">
    <h3>Contacto</h3>
    <mat-form-field class="form__element">
      <input matInput placeholder="Nombre" id="name" formControlName="name" [class]="isValidField('name')" />
      <mat-error *ngIf="contacFrm.get('name')?.errors">
        Ingresa tú nombre por favor por favor
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__element">
      <input matInput placeholder="Email" id="email" formControlName="email" [class]="isValidField('email')" />
      <mat-error *ngIf="contacFrm.get('email')?.errors">
        Ingresa un email valido por favor
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__element">
      <input matInput placeholder="Telefono" id="phone" formControlName="phone" [class]="isValidField('phone')" />
      <mat-error *ngIf="contacFrm.get('phone')?.errors">
        Ingresa un telefono valido por favor
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="contacFrm.invalid" (click)="sendMessage()">Enviar</button>
  </form>

</div>
<br><br><br><br><br>