
  <h2 class="precios">Planes</h2>
  <mat-grid-list class="cards" [cols]="colSize" [rowHeight]="rowHeight">

    <mat-grid-tile class="card-item">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Plan S Precio CLP:200.000.-</mat-card-title>
            <mat-card-subtitle>Pymes </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="">
          <p>
            Plan inicial para pyme que recien estan iniciando su negocio o es su primera web.
            Página web diseñada en WordPress con diseño de logo, paleta de colores, correo corporativo, dominio propio,
            hosting, seguridad.
          </p>
        </mat-card-content>
        <mat-card-actions align="end" class="actions">
          <button mat-flat-button>Ver mas</button>
          <span class="example-spacer"></span>
          <button mat-flat-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            Comprar
          </button>

        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="card-item">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Plan S Precio CLP:200.000.-</mat-card-title>
            <mat-card-subtitle>Pymes </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="">
          <p>
            Plan inicial para pyme que recien estan iniciando su negocio o es su primera web.
            Página web diseñada en WordPress con diseño de logo, paleta de colores, correo corporativo, dominio propio,
            hosting, seguridad.
          </p>
        </mat-card-content>
        <mat-card-actions align="end" class="actions">
          <button mat-flat-button>Ver mas</button>
          <span class="example-spacer"></span>
          <button mat-flat-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            Comprar
          </button>

        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="card-item">
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Plan S Precio CLP:200.000.-</mat-card-title>
            <mat-card-subtitle>Pymes </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="">
          <p>
            Plan inicial para pyme que recien estan iniciando su negocio o es su primera web.
            Página web diseñada en WordPress con diseño de logo, paleta de colores, correo corporativo, dominio propio,
            hosting, seguridad.
          </p>
        </mat-card-content>
        <mat-card-actions align="end" class="actions">
          <button mat-flat-button>Ver mas</button>
          <span class="example-spacer"></span>
          <button mat-flat-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            Comprar
          </button>

        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <!--Parallax-->
  <div class="parallax">
    <p class="">Tu Web Profesional</p>
  </div>
  <!--fin Parallax-->




  <div class="container">
    <form class="form item" [formGroup]="contacFrm">
      <h3>Contacto</h3>
      <mat-form-field class="form__element">
        <input matInput placeholder="Nombre" id="name" formControlName="name" [class]="isValidField('name')" />
        <mat-error *ngIf="contacFrm.get('name')?.errors">
          Ingresa tú nombre por favor por favor
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__element">
        <input matInput placeholder="Email" id="email" formControlName="email" [class]="isValidField('email')" />
        <mat-error *ngIf="contacFrm.get('email')?.errors">
          Ingresa un email valido por favor
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__element">
        <input matInput placeholder="Telefono" id="phone" formControlName="phone" [class]="isValidField('phone')" />
        <mat-error *ngIf="contacFrm.get('phone')?.errors">
          Ingresa un telefono valido por favor
        </mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" [disabled]="contacFrm.invalid" (click)="sendMessage()">Enviar</button>

    </form>

  </div>
  <br><br><br><br><br>

